@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-polygon {
  background-image: url("/background/Polygon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.bg-boxes {
  background-color: #fafafa;
  opacity: 1;
  background-image: linear-gradient(#fafafa 2px, transparent 2px), linear-gradient(to right, #fafafa 2px, #ffffff 2px);
  background-size: 30px 30px;
}